/* 기본 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.fs-1rem {
    font-size: 1rem;
}

.fs-3750rem {
    font-size: 3.750rem;
}

/* 폰트 */
/* G마켓 */
@font-face { 
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}