.header {
    width: 100%;
    padding: 0 8rem;
    position: absolute;
    top: 4%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    z-index: 9999;
    color: #402218;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo.white {
    color: #fff;
}

.logo .logo_top {
    font-size: 0.750rem;
}

.logo .logo_middle {
    font-size: 1.250rem;
}

.logo .logo_bottom {
    font-size: 0.625rem;
}

.navBtn {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 9999;
}

.navBtn .btnBar {
    position: absolute;
    top: calc(50% - 2px);
    left: 20%;
    width: 60%;
    height: 4px;
    border-radius: 2px;
    background: #402218;
    transition: all 0.5s ease-in-out;
}

.navBtn .btnBar::before,
.navBtn .btnBar::after {
    content: '';
    position: absolute;
    height: 4px;
    background: #402218;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}

.navBtn .btnBar::before {
    transform: translate(-100%, -15px);
    width: 50%;
}

.navBtn .btnBar::after {
    transform: translate(-65%, 15px);
    width: 75%;
}

.navBtn.open .btnBar {
    transform: translateZ(0);
    background: transparent;
}

.navBtn.open .btnBar::before {
    transform: rotate(45deg) translate(-14.5px, 14.5px);
    width: 100%;
}

.navBtn.open .btnBar::after {
    transform: rotate(-45deg) translate(-14.5px, -14.5px);
    width: 100%;
}

.navBtn.white .btnBar::before,
.navBtn.white .btnBar::after {
    background: #fff;
}

.menu {
    width: 500px;
    transition: all 0.5s ease-in-out;
    z-index: 999;
}

.menu ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menuBtn {
    text-decoration: none;
    font-size: 1rem;
    color: #402218;
    padding: 0.750em 0.938em;
    border-radius: 25px;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.menuEffect span {
    position: absolute;
    background: #AA4A30;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripples 1s linear infinite;
}

@keyframes ripples {
    0% {
    width: 0;
    height: 0;
    opacity: 0.5;
    }

    100% {
    width: 300px;
    height: 300px;
    opacity: 0;
    }
}

.pullRight:before {
    position: absolute;
    width: 0.250rem;
    height: 100%;
    left: -5%;
    bottom: 0rem;
    content: '';
    background: #fff;
    opacity: 0.3;
    transition: all .3s
}

.pullRight:hover:before {
    filter: blur(10px);
    width: 110%; 
}

/* 뒤로가기 버튼 css */

.backBtn {
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #402218;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.1),
                5px 5px 5px rgba(0, 0, 0, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.2);
}

.backBtn .prev {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 25px;
    height: 25px;
    border: 4px solid #fffff0;
    border-right: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(-45deg);
    transition: 0.5s;
}

.backBtn:hover .prev {
    left: 30%;
}

.backBtn .prev::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #fffff0;
    transform-origin: left;
    transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
    transition: 0.5s;
}

.backBtn:hover .prev::before {
    transform: rotate(45deg) translate(-2px, -1px) scaleX(1);
}

@media (max-width: 1023px) {
    .navBtn {
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #C68B59;
        display: none;
        justify-content: flex-end;
        align-items: center;
    }
    
    .menu.open {
        display: flex;
        transition: all 0.5s ease-in-out;
    }
    
    .menu ul {
        position: relative;
        left: 40%;
        display: block;
        padding-left: 5em;
        border-left: 2px solid #fff;
    }

    .list {
        margin: 1.875em 0;
    }
    
    .menuBtn {
        font-size: 2.5rem;
        color: #fff;
        padding: 0.750em 1.250em;
        border-radius: 40px;
    }
}