* {
    font-family: 'GmarketSansMedium';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #402218;
    transform-style: preserve-3d;
}

.backBtn {
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #402218;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.1),
                5px 5px 5px rgba(0, 0, 0, 0.2),
                15px 15px 15px rgba(0, 0, 0, 0.2);
}

.backBtn .prev {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 25px;
    height: 25px;
    border: 4px solid #fffff0;
    border-right: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(-45deg);
    transition: 0.5s;
}

.backBtn:hover .prev {
    left: 30%;
}

.backBtn .prev::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #fffff0;
    transform-origin: left;
    transform: rotate(45deg) translate(-2px, -1px) scaleX(0);
    transition: 0.5s;
}

.backBtn:hover .prev::before {
    transform: rotate(45deg) translate(-2px, -1px) scaleX(1);
}

.title {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 282.86px);
    font-size: 3.750rem;
    color: #fffff0;
    text-align: center;
    letter-spacing: 0.5em;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
    }

    100% {
        transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
    }
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i) * 45deg)) translateZ(300px);
}

.box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}